@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --grey: #262626;
    --light-grey: #a8a8a8;
    --blue: #0095f6;
    --gradient: linear-gradient(to right, #e2336b, #fcac46);

}

body, html {
    scroll-behavior: smooth;
    background-color: var(--black);
    font-family: Arial, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    color: var(--white);
    overflow-x: hidden;
    display: flex;
    width: 100vw;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 19%;
    height: 100vh;
    background-color: var(--black); 
    color: var(--white);
    padding: 1rem;
    border-right: 1px solid var(--grey);
}

.side-bar-bottom {
    display: none;
}

.logo {
    width: 120px;
    margin: 1rem 0rem;
}

.logo2 {
    display: none;
}

.link {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1rem;
    padding: 1rem 0rem;
}

.link img {
    height: 1.5rem; 
    margin-right: 0.5rem;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* Responsive Code */

/* if the screen is less than 900px apply these changes */

@media screen and (max-width: 900px) {  
    .logo {
        display: none;
    } 

    .logo2 {
        display: block;
        margin: 1rem 0rem;
    }

    .link img {
        margin-right: 0rem;
    }

    .side-bar {
        width: 7%;
    }

    .link a {
        display: none;
    }

    .top-side {
        align-self: center;
    }

    .bottom-side {
        align-self: center;
    }
}


/* if the screen is less than 600px apply these changes */

@media screen and (max-width: 600px) {
    .side-bar {
        display: none;
    }

    .side-bar-bottom {
        display: flex;
        position: fixed;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: var(--black); 
        color: var(--white);
        padding: 1rem;
        border-top: 1px solid var(--grey);
    }
}